@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f7f6;
}

.btn {
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.white-btn {
  background: #ffffff;
  color: #0078a8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.purple-btn {
  background: #0078a8;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p,
span,
a {
  font-size: 18px;
  color: #4a4a4a;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0078a8;
}

h2 {
  font-size: 34px;
  font-weight: 600;
  color: #0078a8;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  color: #0078a8;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  color: #0078a8;
}

h5,
h6 {
  font-size: 20px;
  font-weight: 500;
  color: #0078a8;
}

@media (max-width: 1186px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
}

.container {
  padding: 0 80px;
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

.hero {
  display: flex;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #d3ebf1;
}

.hero .banner {
  flex: 1;
}

.hero .banner h1,
.hero .banner p {
  max-width: 600px;
}

.hero .banner h1 {
  letter-spacing: 1px;
  word-spacing: 3px;
}

.hero .banner p {
  color: #333333;
  letter-spacing: 1.2px;
}

.hero .banner span {
  position: absolute;
  right: -300px;
  top: -200px;
  z-index: -1;
}

.hero .banner:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.hero .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}



.animated-image {
  animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@media (max-width: 1186px) {
  .hero .banner span {
    right: -400px;
  }
  .hero .banner h1 {
    font-size: 32px;
  }
}

@media (max-width: 1085px) {
  .hero .banner span {
    right: -480px;
    top: -315px;
  }
}

@media (max-width: 925px) {
  .hero {
    flex-direction: column;
  }

  @media (max-width: 700px) {
    .hero {
      padding-bottom: 40px;
    }
  }
}


.form-component {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #f9d8e6;
}

.form-component h2 {
  color: #4a4a4a;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.form-component h4 {
  color: #4a4a4a;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-component p {
  max-width: 750px;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.form-component form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-component form div {
  display: flex;
  gap: 20px;
}

.form-component form input,
.form-component form select,
.form-component form textarea {
  flex: 1;
  font-size: 20px;
  padding: 12px 12px 12px 35px;
  border-radius: 5px;
  border: 1px solid #b0bec5;
  background-color: #ffffff;
}

.form-component button {
  padding: 12px 30px;
  color: #ffffff;
  font-weight: 600;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  margin-bottom: 30px;
  background: linear-gradient(140deg, #0078a8, #004d6d);
}

.biography {
  display: flex;
  gap: 50px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #f9d8e6;
}

.biography .banner:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biography .banner:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.biography .banner h3 {
  font-weight: 600;
  letter-spacing: 2px;
  color: #0078a8;
}

.biography .banner p:first-child {
  font-size: 22px;
  letter-spacing: 1.2px;
  color: #333333;
}

@media (max-width: 925px) {
  .biography {
    flex-direction: column-reverse;
  }
}

/* Form Component Container */


/* Form Header */
.message-form h2 {
  font-size: 24px;
  color: #0077b6; /* Deep Sky Blue */
  margin-bottom: 20px;
}

/* Input Fields */
.message-form input[type="text"],
.message-form input[type="number"],
.message-form textarea {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 5px;
  border: 1px solid #b0e0e6; /* Powder Blue */
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f8ff; /* Alice Blue */
}

.message-form textarea {
  width: calc(100% - 20px);
  resize: none;
}

/* Button */
.message-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #0077b6; /* Deep Sky Blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.message-form button[type="submit"]:hover {
  background-color: #005f99; /* Slightly darker blue */
}

/* Form Layout */
.message-form form > div {
  display: flex;
  justify-content: space-between;
}

.message-form form > div:nth-child(3) {
  justify-content: center;
}

/* Image */
.message-form img {
  margin-top: 20px;
  width: 100px;
  height: auto;
}


@media (max-width: 700px) {
  .message-form img {
    right: -35%;
    height: 450px;
    top: 10%;
  }
}






/* Navbar Container */
nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  z-index: 2;
}

/* Logo */
nav .logo {
  flex: 1;
  display: flex;
  align-items: center;
}

nav .logo .logo-img {
  max-height: 60px; /* Adjust this value as needed */
  width: auto;
}

/* Navigation Links */
nav .navLinks {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navLinks .links {
  display: flex;
  gap: 25px;
}

nav .navLinks .links a {
  text-decoration: none;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.4px;
}

nav .navLinks .links a:hover {
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

/* Buttons */
nav .btn {
  padding: 8px 20px;
  color: #ffffff; /* White text */
  background: #0078a8; /* Match your theme color */
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  z-index: 2;
}

nav .logoutBtn {
  background: linear-gradient(135deg, #004d6d, #0078a8); /* Adjust gradient to match theme */
}

nav .loginBtn {
  background: linear-gradient(135deg, #004d6d, #0078a8); /* Adjust gradient to match theme */
}

/* Hamburger Menu */
nav .hamburger {
  display: none;
}

nav svg {
  font-size: 1.75rem;
}

/* Media Queries */
@media (max-width: 1520px) {
  nav {
    min-width: 100%;
    padding: 25px 20px 40px 20px;
  }
}

@media (max-width: 1100px) {
  nav {
    background: #ffffffbf;
    position: fixed;
    top: 0;
    left: 0;
  }
  nav .hamburger {
    display: flex;
  }
  nav .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 7.5px;
    z-index: 2;
    transition: 0.3s;
    position: fixed;
    left: 0;
    height: 100%;
    width: 400px;
    background: #ffffffbf;
    top: 79px;
  }
  nav .showmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 7.5px;
    z-index: 2;
    transition: 0.3s;
    position: fixed;
    left: -100%;
    width: 400px;
    height: 100%;
    background: #ffffffbf;
    top: 79px;
  }
  nav .navLinks .links {
    flex-direction: column;
    text-align: center;
  }
  nav .navLinks .links a {
    font-weight: 700;
  }
  nav .logoutBtn {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  nav .showmenu {
    width: 96vw;
  }
}

@media (max-width: 650px) {
  nav .showmenu {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 555px) {
  nav {
    background: #fff;
  }
  nav .navLinks {
    background: #fff;
    width: 100%;
  }
}
