@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f7f6;
}

.btn {
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.white-btn {
  background: #ffffff;
  color: #0078a8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.purple-btn {
  background: #0078a8;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p,
span,
a {
  font-size: 18px;
  color: #4a4a4a;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0078a8;
}

h2 {
  font-size: 34px;
  font-weight: 600;
  color: #0078a8;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  color: #0078a8;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  color: #0078a8;
}

h5,
h6 {
  font-size: 20px;
  font-weight: 500;
  color: #0078a8;
}

@media (max-width: 1186px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
}

.container {
  padding: 0 80px;
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

.hero {
  display: flex;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #e0f7fa;
}

.hero .banner {
  flex: 1;
}

.hero .banner h1,
.hero .banner p {
  max-width: 600px;
}

.hero .banner h1 {
  letter-spacing: 1px;
  word-spacing: 3px;
}

.hero .banner p {
  color: #333333;
  letter-spacing: 1.2px;
}

.hero .banner span {
  position: absolute;
  right: -300px;
  top: -200px;
  z-index: -1;
}

.hero .banner:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.hero .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.animated-image {
  animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@media (max-width: 1186px) {
  .hero .banner span {
    right: -400px;
  }
  .hero .banner h1 {
    font-size: 32px;
  }
}

@media (max-width: 1085px) {
  .hero .banner span {
    right: -480px;
    top: -315px;
  }
}

@media (max-width: 925px) {
  .hero {
    flex-direction: column;
  }

  @media (max-width: 700px) {
    .hero {
      padding-bottom: 40px;
    }
  }
}

.form-component {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.form-component h2 {
  color: #4a4a4a;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.form-component h4 {
  color: #4a4a4a;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-component p {
  max-width: 750px;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.form-component form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-component form div {
  display: flex;
  gap: 20px;
}

.form-component form input,
.form-component form select,
.form-component form textarea {
  flex: 1;
  font-size: 20px;
  padding: 12px 12px 12px 35px;
  border-radius: 5px;
  border: 1px solid #b0bec5;
  background-color: #ffffff;
}

.form-component button {
  padding: 12px 30px;
  color: #ffffff;
  font-weight: 600;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  margin-bottom: 30px;
  background: linear-gradient(140deg, #0078a8, #004d6d);
}

.biography {
  display: flex;
  gap: 50px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #e0f7fa;
}

.biography .banner:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biography .banner:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.biography .banner h3 {
  font-weight: 600;
  letter-spacing: 2px;
  color: #0078a8;
}

.biography .banner p:first-child {
  font-size: 22px;
  letter-spacing: 1.2px;
  color: #333333;
}

@media (max-width: 925px) {
  .biography {
    flex-direction: column-reverse;
  }
}

/* Form Component Container */


/* Form Header */
.message-form h2 {
  font-size: 24px;
  color: #0077b6; /* Deep Sky Blue */
  margin-bottom: 20px;
}

/* Input Fields */
.message-form input[type="text"],
.message-form input[type="number"],
.message-form textarea {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 5px;
  border: 1px solid #b0e0e6; /* Powder Blue */
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f8ff; /* Alice Blue */
}

.message-form textarea {
  width: calc(100% - 20px);
  resize: none;
}

/* Button */
.message-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #0077b6; /* Deep Sky Blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.message-form button[type="submit"]:hover {
  background-color: #005f99; /* Slightly darker blue */
}

/* Form Layout */
.message-form form > div {
  display: flex;
  justify-content: space-between;
}

.message-form form > div:nth-child(3) {
  justify-content: center;
}

/* Image */
.message-form img {
  margin-top: 20px;
  width: 100px;
  height: auto;
}


@media (max-width: 700px) {
  .message-form img {
    right: -35%;
    height: 450px;
    top: 10%;
  }
}

footer {
  padding-bottom: 30px !important;
  background-color: #0078a8;
  color: #ffffff;
}

footer hr {
  margin-bottom: 30px;
  border-color: #ffffff;
}

footer .content {
  display: flex;
  gap: 20px;
}

footer .content div {
  flex: 1;
}

footer .content div:nth-child(3) {
  flex: 2;
}

footer .content div h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

footer .content div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .content div ul a {
  color: #e0f7fa;
  text-decoration: none;
}

footer .content div ul a:hover {
  color: #ffffff;
  transition: 0.3s;
}

footer .content div ul li span {
  color: #e0f7fa;
}

footer .content div ul li span:first-child {
  width: 150px;
  display: inline-block;
}

footer .content div:last-child div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

footer .content div:last-child div svg {
  font-size: 24px;
}

/* Departments Container */
.departments {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f0f8ff; /* Alice Blue background */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Departments Heading */
.departments h2 {
  color: #004a75; /* Darker Blue */
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

/* Responsive Design */
@media (max-width: 768px) {
  .departments {
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 10px;
  }

  .departments h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .departments {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .departments h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

/* Card Container */
.card {
  position: relative;
  border-radius: 12px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px 20px;
  min-height: 360px;
  margin: 10px;
  text-decoration: none;
  background-color: #f0f8ff; /* Alice Blue */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Card Hover Effect */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Card Image */
.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 12px;
  object-fit: cover;
  filter: brightness(85%);
}

/* Department Name */
.card .depart-name {
  margin-bottom: 30px;
  background: rgba(173, 216, 230, 0.9); /* Light Blue with transparency */
  width: 320px;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 30px;
  height: fit-content;
  font-weight: 700;
  color: #004a75; /* Darker blue for text */
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    min-height: 300px;
    margin: 10px 5px;
  }

  .card .depart-name {
    width: 90%;
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
    min-height: 250px;
    padding: 10px;
  }

  .card .depart-name {
    width: 100%;
    font-size: 18px;
    padding: 8px;
    margin-bottom: 20px;
  }
}
