@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f7f6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 100px;
  background-color: #d3ebf1; /* Updated background color */
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.form-title {
  font-size: 1.75rem; /* Increased font size */
  color: #0078a8;
  margin-bottom: 30px; /* Adjusted margin */
}

form {
  width: 100%;
  max-width: 550px; /* Increased max width */
  display: flex;
  flex-direction: column;
  gap: 25px; /* Adjusted gap */
}

input[type="text"],
input[type="password"] {
  padding: 12px 35px; /* Updated padding */
  font-size: 20px; /* Increased font size */
  border: 1px solid #b0bec5;
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff; /* Added background color */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #1abc9c;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  padding-right: 40px;
}

.password-container span {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #666;
}

button {
  padding: 12px 30px; /* Adjusted padding */
  background: linear-gradient(140deg, #0078a8, #004d6d); /* Updated background color */
  color: white;
  font-size: 22px; /* Increased font size */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

button:hover {
  background-color: #16a085;
}

p {
  margin-bottom: 20px;
  color: #666;
  text-align: center;
}
